*{
			margin: 0;
			padding: 0;
		}
          .main{
			position: absolute;
			top:50%;
			left:50%;
			transform: translateX(-50%)translateY(-50%);
			width: 50%;
			text-align: center;


			
			
		}
		.text{
			font-size: 25px;
			margin: 4px;
			padding: 4px;
			color: white;
			font-weight: bold;





		}
		.name1{
			
			padding: 5px;
			border: none;
			outline: none;
			border-bottom: 2px solid black;
			width: 300px;
			height: 22px;
			margin: 5px;
			font-size: 15px;
			box-shadow: 10px 5px 5px red;
			
             }
		.button{
			font-size: 20px;
			margin: 8px;
			padding: 10px;
			margin-left: 150px;
			background-color: black;
			color: white;
			width: 50%;
			cursor: pointer;
			box-shadow: 10px 5px 5px white;

		}

		.button:hover{
			color:red;
			background-color: green;
			font-size: 20px;

		}
		legend{
			font-size: 20px;
		}

		#mess{
			color: red;
			font-size: 19px;
			font-weight: bold;
		}


		#user{
			font-size: 18px;
			font-weight: bold;
			color: red;
			text-decoration: underline;
		}